.list-container {
  width: 60%;
  margin: auto;
}

.list__title {
  margin: 2rem 0 0.5rem;
}

.reminder-container {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 25px #828282;
  padding: 1rem 0 0;
}

.reminder-list {
  margin: 0;
}

.list__input {
  width: 80%;
  background: none;
  outline: none;
  border: 0;
  border-bottom: 1px solid #E5E5E5;
  margin: 1rem;
  font-size: 1rem
}

.newrem__accept {
  width: 10%;
  align-self: flex-end;
  border: 0;
  background: transparent;
  color: $brand-blue;
  font-size: 0.9rem;
  margin-right: 1.2rem;

  &:hover {
    cursor: pointer;
  }
}
