.newlist-container {
  width: 60%;
  margin: auto;
}

.newlist__title {
  margin: 2rem 0 0.5rem;
}

.newlist__form {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 25px #828282;
  padding: 3rem 0;

  &__input {
    width: 95%;
    background: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid #E5E5E5;
    margin: 1rem;
    font-size: 1rem
  }
}

.accept {
  width: 10%;
  align-self: flex-end;
  border: 0;
  background: transparent;
  color: $brand-blue;
  font-size: 0.9rem;
  margin-right: 1.2rem;

  &:hover {
    cursor: pointer;
  }
}
