<div class="nav">
  <div class="nav-logo">
    {{fa-icon "bars" class="nav-logo__icon"}}
    <h3 class="nav-logo__title">Todos</h3>
  </div>
  <div class="nav-bottom">
    <ul class="nav-list">
      <li class="nav-list__item">Test 1</li>
      <li class="nav-list__item">Test 2</li>
      <li class="nav-list__item">Test 3</li>
      <li class="nav-list__item">Test 4</li>
      <li class="nav-list__item">Test 5</li>
      <li class="nav-list__item">Test 5</li>
      <li class="nav-list__item">Test 5</li>
      <li class="nav-list__item">Test 5</li>
    </ul>
    <div class="nav-list__item add-new">Add New List</div>

  </div>
</div>
<div class="app-container">

</div>

{{outlet}}
